{{!-- Check if a varibale has been set --}}
{{#if SessionUser}}
<h1 class="mt-2">Welcome {{SessionUser.name}}.</h1>
<p>You can view, post and comment.</p>
{{!-- <a href="/auth/logout">Logout</a> --}}
{{else}}
<h1 class="mt-2">Welcome to Wasanii.</h1>
<p>You can view but can't post or comment</p>
{{!-- <a href="/auth/login">Login</a>
<a href="/auth/signup">Sign Up</a> --}}
{{/if}}
<div class="landing-preview">
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Users</h5>
                <img src="https://images.unsplash.com/photo-1617503752587-97d2103a96ea?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NHx8YXJ0d29ya3xlbnwwfHwwfHw%3D&w=1000&q=80" class="card-img" id="landing-image"alt="...">
                <p class="card-text">Meet with the most Talented Individual in the Art and Photography Industry</p>
                <a href="/users/" class="btn btn-primary">User</a>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Art</h5>
                <img src="https://i.pinimg.com/originals/92/25/26/922526935f35f58cdbab01453c4e5baf.jpg"
                    class="card-img" id="landing-image" alt="...">
                <p class="card-text">See the most amazing and beautiful art.</p>
                <a href="/arts/" class="btn btn-primary">Art</a>
            </div>
        </div>
    </div>
</div>

</div>
