{{!-- Display Users --}}

{{!-- Show Picture and Name --}}

<div class="userList">

{{#each users}}

<div class="card" id="userCard" style="width: 18rem;">
    {{!-- <img src="https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png" class="card-img-top" alt="..."> --}}
    <div class="card-body">
        <h5 class="card-title">{{this.name}}</h5>
        <a href="/users/user/{{this._id}}" class="btn btn-primary">Profile</a>
    </div>
</div>
{{/each}}

</div>