<div class="d-flex random-beer">
    <div class="flex-shrink-0 random-beer-image ">
        <img src="..." alt="...">
    </div>
    <div class="product-content">
        <div class="flex-grow-1 ms-6 decription ">
            <h1>Name</h1>
        </div>
        <div class="flex-grow-1 ms-3 decription ">
            <p>Email</p>
        </div>
        <div class="flex-grow-1 ms-3 decription ">
            <p>Phone</p>
        </div>
        <div class="flex-grow-1 ms-3 decription ">
            <p>Address</p>
        </div>
    </div>

</div>

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Title</h5>
        <h6 class="card-title">Title</h6>
        <a href="/" class="btn btn-primary">Details</a>
    </div>
</div>