<div class="d-flex">
    {{!-- <div class="flex-shrink-0 random-beer-image ">
        <img src="..." alt="...">
    </div> --}}
    <div class="product-content">
        <div class="flex-grow-1 ms-6 decription ">
            <h1>{{user.name}}</h1>
        </div>
        <div class="flex-grow-1 ms-3 decription ">
            <p>{{user.email}}</p>
        </div>
        <div class="flex-grow-1 ms-3 decription ">
            <p>{{user.phone}}</p>
        </div>
        <div class="flex-grow-1 ms-3 decription ">
            <p>{{user.address}}</p>
        </div>
    </div>

</div>

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Title</h5>
        <h6 class="card-title">Title</h6>
        <a href="/" class="btn btn-primary">Details</a>
    </div>
</div>