{{!-- It helps to split the form into 2.  action="/arts/create-art" will submit data to the database 
and enctype="multipart/form-data" will upload the data to clouidnary--}}
<form action="/arts/create-art" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
        <label class="form-label">Title</label>
        <input type="name" name="title" class="form-control">
    </div>
    <div class="mb-3">  
        <label class="form-label">Image</label>
        <input type="file" name="art-image" />
    </div>
    <div class="mb-3">
        <label for="exampleFormControlTextarea1" class="form-label">Description</label>
        <textarea class="form-control" name="description" rows="3"></textarea>
    </div>
    <div class="mb-3">
        <label class="form-label">Price</label>
        <input type="text" name="price" class="form-control">
    </div>
        
    <button type="submit" class="btn btn-primary">Submit</button>
</form>

{{#if errorMessage}}
{{errorMessage}}
{{/if}}