
{{!-- Display Art --}}

{{!-- Show Picture and Name --}}

<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Title</h5>
        <h6 class="card-title">Title</h6>
        <a href="/" class="btn btn-primary">Details</a>
    </div>
</div>