{{!-- Display Users --}}

{{!-- Show Picture and Name --}}

<div class="userList">
    {{#each arts}}

    <div class="card" id="userCard" style="width: 18rem;">
        <img src="{{this.imageUrl}}" class="figure-img img-fluid rounded" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{this.title}}</h5>
            <h6>${{this.price}}</h6>
            <a href="/arts/art/{{this._id}}" class="btn btn-primary">See More</a>
        </div>
    </div>
    {{/each}}

</div>