<div class="d-flex random-beer">
    <div class="flex-shrink-0 random-beer-image ">
        <img src="..." alt="...">
    </div>
    <div class="product-content">
        <div class="flex-grow-1 ms-6 decription ">
            <h1>Title</h1>
        </div>
        <div class="flex-grow-1 ms-3 decription ">
            <p>Description</p>
        </div>
        <div class="flex-grow-1 ms-3 decription ">
            <p>Price</p>
        </div>
    </div>

    {{!-- Comments Sections --}}

</div>